    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <!-- <div class="image col-lg-6" style='background-image: url("assets/img/features.jpg");' data-aos="fade-right"></div> -->
            <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
              <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                <i class="bx bx-receipt"></i>
                <h4>Admin Profile</h4>
                <p>Basic Information</p>
              </div>
              <hr/>
              <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                <i class="bx bx-cube-alt"></i>
                <h4>UserName</h4>
                <p>{{ adminProfileObject.UserName }}</p>
              </div>
              <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                <i class="bx bx-cube-alt"></i>
                <h4>Email</h4>
                <p>{{ adminProfileObject.Email }}</p>
              </div>
              <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                <a (click)="createPage()"  class="get-started-btn scrollto">Creat New Admin</a>
                <br><br>
                <a (click)="categoryControlPage()"  class="get-started-btn scrollto">Category Control</a>
                <br><br>
                <a (click)="createProductPage()"  class="get-started-btn scrollto">Create New Product</a>

                
              </div>
              <br>
              <br>
              <br>

            </div>
          </div>
  
        </div>
      </section><!-- End Features Section -->