<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">



      <div class="row mt-5">



        <div class="col-lg-8 mt-5 mt-lg-0">

          <form action="forms/contact.php" method="post" role="form" class="php-email-form">

            <div class="form-row">
                <div class="col-md-6 form-group">
                    <span>ID</span>
                  <input type="text" [(ngModel)]="IdValue" name="id" class="form-control" id="id"  data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
               
              </div>

            <div class="form-row">
              <div class="col-md-6 form-group">
                  <span>Category Name</span>
                <input type="text" [(ngModel)]="CategoryNameValue" name="name" class="form-control" id="name"  data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
              </div>
             
            </div>

            <div class="form-row">
                <div class="col-md-6 form-group">
                    <span>Details</span>
                  <input type="text" [(ngModel)]="DetailsValue" name="details" class="form-control" id="details"  data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
               
              </div>

            
              <button type="submit" (click)="CreateNewCategory()">Create!</button>
              <br><br>
              <button type="submit" (click)="BackToCategory()">Back to categories!</button>

              
      
          </form>
          
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->